﻿* {
    font-family: Arial;
    font-size: 18pt;
}

.panel {
    padding: 15px;
    margin: 25px;
    border: 5px solid #0026ff;
    width: 500px;
    height: 250px;
}

.block {
    margin: 10px;
    width: 470px;
}

.field_name {
    width: 160px;
    float: left;
}
